body {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  width: 100vw;
}

ul {
  margin: 0;
}

.hottest {
  background-color: black;
  color: black;
  border: 2px solid black;
}

.hotter {
  background-color: rgb(42, 42, 42);
  color: rgb(42, 42, 42);
  border: 2px solid black;
}

.hot {
  background-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  border: 2px solid black;
}

.warm {
  background-color: rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  border: 2px solid black;
}

.cold {
  background-color: rgb(172, 172, 172);
  color: rgb(172, 172, 172);
  border: 2px solid black;
}

.colder {
  background-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
  border: 2px solid black;
}

.coldest {
  background-color: white;
  color: white;
  border: 2px solid black;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
  background-color: rgb(122, 122, 122);
}

.nav-container li {
  list-style-type: none;
}

#logo {
  height: 75px;
  width: 204px;
}

.nav-item {
  height: 120px;
  width: 18%;
}

.heading-fix {
  display: none;
}

#nav-b {
  height: 45px;
  width: 120px;
  padding: 38px 0;
}

#nav-b button {
  padding: 20px 25px;
}

#feat-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  height: 1326px;
}

.feat-post:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: rgb(175, 175, 175);
  border: 2px solid rgb(0, 0, 0);
  padding-top: 30%;
  font-size: 30px;
}

#feat-grid .feat-post:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/2;
  background-color: rgb(175, 175, 175);
  border: 2px solid rgb(0, 0, 0);
  padding-top: 30%;
  font-size: 30px;
}

#feat-grid .feat-post:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: rgb(175, 175, 175);
  border: 2px solid rgb(0, 0, 0);
  padding-top: 30%;
  font-size: 30px;
}

#feat-grid .feat-post:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/3;
  background-color: rgb(175, 175, 175);
  border: 2px solid rgb(0, 0, 0);
  padding-top: 30%;
  font-size: 30px;
}

#main-title {
  position: relative;
  left: 50%;
  grid-column: 1/3;
  grid-row: 1/2;
}

#main-title div {
  display: flex;
  justify-content: center;
}

#main-title div h2 {
  margin-top: 13%;
  padding: 7%;
  width: 250px;
  text-align: center;
}

#call-to-action {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#call-to-action div:first-child {
  padding: 12% 18%;
  background-color: rgb(172, 172, 172);
}

#call-to-action div:nth-child(2) {
  background-color: black;
}

#call-to-action ul {
  padding: 12% 5%;
}

#call-to-action button {
  width: 100%;
  padding: 3% 0;
  background-color: rgb(84, 84, 84);
}

#latest-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: 1/2;
  grid-row: 1/2;
}

#latest-post #latest-title {
  display: none;
}

#latest-post article {
  height: 836px;
  background-color: rgba(175, 175, 175, 0.3);
  border: 2px solid black;
}

#latest-post article h5 {
  text-align: left;
  color: rgba(175, 175, 175, 0.6);
  padding: 8% 8% 0 8%;
}

#latest-post article h3 {
  text-align: left;
  font-size: 300%;
  padding: 0 8% 13% 8%;
}

#latest-post article h4 {
  text-align: left;
  color: rgb(175, 175, 175);
  padding: 0 8% 5% 8%;
}

#latest-post article p {
  color: rgb(122, 122, 122);
  text-align: left;
  padding: 0 8% 60% 8%;
}

#latest-post article .post-button {
  background-color: rgb(42, 42, 42);
  height: 15%;
  width: 15%;
  align-self: flex-end;
}

#call-to-action article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-call-to-action {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-call-to-action img {
  width: 60%;
  justify-content: center;
}

.left-text {
  text-align: left;
}

.post-call-to-action #post-call-button {
  padding: 5% 6%;
}

.text-center {
  text-align: center !important;
}

.see-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 70px 0 110px;
}

#see-all a {
  height: 30px;
  border-bottom: 3px solid red;
  text-decoration: none;
}

#book-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(250, 250, 250);
  align-items: center;
}

#book-container #book-title {
  margin: 100px 0 30px;
}

#book-container article {
  width: 55%;
  align-self: center;
  text-align: center;
}

#book-container article h3 {
  font-size: 45px;
}

#book-container article p {
  font-size: 25px;
  margin: 30px 0;
}

#book-container article button {
  font-size: 25px;
  margin: 30px 0;
  padding: 15px 5%;
}

#community-links {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

#title-180 {
  transform: rotate(90deg);
  display: inline-block;
  padding-left: 12%;
  position: absolute;
  left: -150px;
}

#community-links img {
  margin-top: 20%;
  margin-left: 12%;
  border: 6px solid rgb(128, 128, 128);
  border-radius: 15px;
}

#community-links div:first-child {
  transform: rotate(-13deg);
}

#community-links div:nth-child(2) {
  padding: 9% 12% 0 0;
}

#community-links div:nth-child(2) h3 {
  padding: 0 0 9% 0;
}

.community-post {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 120px;
  margin-top: 50px;
}

.community-post #see-all-cont {
  grid-column: 2/4;
  grid-row: 4/5;
  text-align: center;
}

.community-post .community-article {
  margin-bottom: 150px;
}

.community-post .community-article:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

.community-post .community-article:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/2;
}

.community-post .community-article:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/3;
}

.community-post .community-article:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/3;
}

.community-post .community-article:nth-child(5) {
  grid-column: 1/3;
  grid-row: 3/4;
}

.community-post .community-article:nth-child(6) {
  grid-column: 3/5;
  grid-row: 3/4;
}

.community-post .community-article .community-img {
  float: left;
  margin-top: 15px;
  margin-left: 8%;
  transform: rotate(-20deg);
  border: 4px solid rgb(128, 128, 128);
  border-radius: 10px;
}

.community-post .community-article .post-info {
  float: right;
  width: 70%;
  margin-bottom: 30px;
}

#book-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 100px;
  background-color: rgb(250, 250, 250);
}

#book-section div:first-child {
  padding-top: 35px;
  padding-left: 10%;
  padding-right: 5%;
}

#book-section div:first-child h5,
#book-section div:first-child h3,
#book-info {
  padding-bottom: 30px;
}

#book-section div:first-child h3 {
  font-size: 25px;
}

#book-section div:first-child button {
  padding: 15px 0;
  width: 37%;
}

#book-section div:nth-child(2) img {
  height: 372px;
  width: 250px;
  margin-top: -50px;
  margin-left: 15%;
  transform: rotate(-15deg);
}

.curated-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 270px;
}

.curated-post .curated-article:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

form {
  border: 3px solid rgb(84, 84, 84);
  border-radius: 25px;
}

fieldset div #form-title {
  padding: 8% 0;
  color: white;
  font-size: 3rem;
}

fieldset div #form-info {
  line-height: 35px;
}

#submit-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70px;
  padding: 5% 0;
}

#submit-container label:nth-child(1) {
  text-align: right;
}

#submit-container input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  padding-left: 3%;
}

#submit-container .btn-submit {
  float: left;
  height: 110%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 10%;
}

.curated-post form {
  grid-column: 2/4;
  grid-row: 2/3;
}

.curated-post form #form-img {
  height: 450px;
}

.curated-post fieldset #fieldset-container:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.curated-post fieldset #form-input {
  width: 40%;
}

.curated-post .curated-article .curated-category {
  padding: 12% 0 0 20%;
  font-size: 0.7rem;
}

.curated-post .curated-article .curated-title {
  padding: 3% 0 0 20%;
  font-weight: 500;
  font-size: 2rem;
}

.curated-post .curated-article .curated-ul {
  padding: 6% 0 0 25%;
}

.curated-post .curated-article li {
  list-style-type: circle;
  color: red;
  padding: 3% 0;
}

.curated-post .curated-article li .curated-link {
  color: blue;
  font-size: 1.2rem;
}

.curated-post section {
  padding: 9% 0;
  grid-column: 1/4;
  text-align: center;
}

.curated-post section hr {
  color: red;
  width: 14%;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav {
  padding: 0 12%;
}

footer #category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: circle;
  text-align: center;
  margin-top: 30px;
}

footer .category-item {
  margin: 0 3%;
  line-height: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 150px;
}

.footer-grid #footer-img1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 160px;
  width: 160px;
  padding-top: 35%;
  padding-left: 30%;
}

.footer-grid #footer-img2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  height: 160px;
  width: 160px;
  padding-top: 45%;
  padding-right: 30%;
}

.footer-grid #footer-info {
  padding: 10px 17%;
  text-align: center;
}
