body {
	margin: 0;
	padding: 0;
}

nav {
	margin: 0;
	width: 100vw;
}

ul {
	margin: 0;
}

.nav-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 180px;
	width: 100%;
	background-color: rgb(122, 122, 122);
}

.nav-container li {
	list-style-type: none;
}

#logo{
	height: 75px;
	width: 204px;
}

.nav-item {
	height: 120px;
	width: 18%
}

#nav-b {
	height: 50px;
	width: 120px;
}

#feat-grid {
	display: grid;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(2,50%);
	height: 1326px;
}

.feat-post:first-child {
	grid-column: 1/3;
	grid-row: 1/2;
	background-color: rgb(175, 175, 175);
	border:2px solid rgb(0, 0, 0);
}

#feat-grid .feat-post:nth-child(2) {
	grid-column: 3/5;
	grid-row: 1/2;
	background-color: rgb(175, 175, 175);
	border:2px solid rgb(0, 0, 0);
}

#feat-grid .feat-post:nth-child(3) {
	grid-column: 1/3;
	grid-row: 2/3;
	background-color: rgb(175, 175, 175);
	border:2px solid rgb(0, 0, 0);
}

#feat-grid .feat-post:nth-child(4) {
	grid-column: 3/5;
	grid-row: 2/3;
	background-color: rgb(175, 175, 175);
	border:2px solid rgb(0, 0, 0);
}

#main-title {
	position: relative;
	left: 50%;
	grid-column: 1/3;
	grid-row: 1/2;
}

#main-title div {
	display: flex;
	justify-content: center;
}

#main-title div h2 {
	margin-top: 13%;
	padding: 7%;
	background-color: black;
	width: 250px;
	text-align:center;

}

#call-to-action {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#call-to-action div:first-child {
	padding: 12% 18%;
	background-color: rgb(122, 122, 122);
}

#call-to-action div:nth-child(2) {
	background-color: black;
}

#call-to-action ul {
	padding: 12% 5%; 
}

#call-to-action button {
	width: 100%;
	padding: 3% 0;
	background-color: rgb(175, 175, 175);
}

#latest-post {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#latest-post {
	grid-column: 1/2;
	grid-row: 1/2;
}

#latest-post h2{
	display: none;
}

#latest-post article {
	height: 836px;
	background-color: rgba(175, 175, 175,0.3);
}

#latest-post article h5 {
	text-align: left;
	color: rgba(175, 175, 175,0.6);
	padding:8% 8% 0 8%;

}

#latest-post article h3{
	text-align: left;
	font-size: 300%;
	padding:0 8% 13% 8%;
}

#latest-post article h4 {
	text-align: left;
	color: rgb(175, 175, 175);
	padding:0 8% 5% 8%;
}

#latest-post article p {

	color:rgb(122, 122, 122);
	text-align: left;
	padding:0 8% 60% 8%;
}

#latest-post article .post-button {
	background-color: rgba(175, 175, 175, 0.7);
	height: 15%;
	width: 15%;
	align-self: flex-end;

}



#call-to-action article {
	display: flex;
	align-items: center;
	flex-direction: column;
	

}

.post-call-to-action {
	display: flex;
	align-items: center;
	flex-direction: column;

}

.post-call-to-action img {
	width: 60%;
	justify-content: center;
}

.left-text {
	text-align: left;
}
	

.post-call-to-action button {
	padding: 5% 6%;
	
}

.text-center {
	text-align: center!important;

}

.see-all {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 70px 0 110px;
}

#see-all a {
	height: 30px;
	border-bottom: 3px solid red;
	text-decoration: none;
}

#book-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgb(189, 189, 189);
	align-items: center;
}

#book-container h5 {
	margin: 100px 0 30px;
}

#book-container article {
	width: 55%;
	align-self: center;
	text-align: center;
}

#book-container article h3{
	font-size: 45px;
}

#book-container article p{
	font-size: 25px;
	margin: 30px 0;
}

#book-container article button{
	font-size: 25px;
	margin: 30px 0;
	padding: 15px 5%;
}

#community-links {
	display: grid;
	grid-template-columns: 2fr 4fr;
}

#title-180 {
	transform: rotate(90deg);
	display: inline-block;
	padding-left:12%;
	position: absolute;
	left: -150px;
}

#community-links img {
	margin-top: 20%;
	margin-left: 12%;
	border:6px solid red;
	border-radius: 15px;
}

#community-links div:first-child {
	transform: rotate(-13deg);

}

#community-links div:nth-child(2) {
	padding: 9% 12% 0 0;

}

#community-links div:nth-child(2) h3 {
	padding: 0 0 9% 0;

}

.community-post {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr) 120px;
	margin-top: 50px;
}

.community-post h4 {
	grid-column: 2/4;
	grid-row: 4/5;
	text-align: center;
}

.community-post article:first-child {
	grid-column: 1/3;
	grid-row: 1/2;
	border:3px red solid;
}

.community-post article:nth-child(2) {
	grid-column: 3/5;
	grid-row: 1/2;
	border:3px red solid;
}

.community-post article:nth-child(3) {
	grid-column: 1/3;
	grid-row: 2/3;
	border:3px red solid;
}

.community-post article:nth-child(4) {
	grid-column: 3/5;
	grid-row: 2/3;
	border:3px red solid;
}

.community-post article:nth-child(5) {
	grid-column: 1/3;
	grid-row: 3/4;
	border:3px red solid;
}

.community-post article:nth-child(6) {
	grid-column: 3/5;
	grid-row: 3/4;
	border:3px red solid;
}

.community-post article img{
	float: left;
	margin-top: 15px;
	margin-left: 8%;
	transform: rotate(-20deg);
	border: 4px solid red;
	border-radius: 10px;
}

.community-post article p {
	float: right;
	width: 70%;
	margin-bottom: 30px;
}

.community-post article {
	margin-bottom: 150px;
}

#book-section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 100px;
	background-color: rgb(124, 124, 124);
}

#book-section div:first-child{
	padding-top: 35px;
	padding-left: 10%;
	padding-right: 5%;
}

#book-section div:first-child h5,
#book-section div:first-child h3,
p {
	padding-bottom: 30px;
}

#book-section div:first-child h3 {
	font-size: 25px;
}

#book-section div:first-child button {
	padding: 15px 0;
	width: 37%;
}

#book-section div:nth-child(2) img {
	height: 372px;
	width: 250px;
	margin-top: -50px;
	margin-left: 15%;
	transform: rotate(-15deg);
}

.curated-post {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr) 270px;
	
}

.curated-post article:first-child {
	grid-column: 1/2;
	grid-row: 1/2;
}

form {
	background-color: red;
	border-radius: 25px;
}

fieldset div h2 {
	padding: 8% 0;
	color: white;
	font-size: 3rem;
}

fieldset div p {
	line-height: 35px;
}

.btn-submit {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 70px;
	padding: 5% 0;

}

.btn-submit label:nth-child(1) {
	text-align: right;

}

.btn-submit input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 100%;
	padding-left: 3%;


}

.btn-submit button {
	float: left;
	height: 110%;
	border-top-right-radius:10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0 10% ;
}


.curated-post form {
	grid-column: 2/4;
	grid-row: 2/3;
}

.curated-post form img {
	height: 450px;
}

.curated-post fieldset div:nth-child(1) {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.curated-post fieldset input {
	width: 40%;
}

.curated-post article h3 {
	padding: 12% 0 0 20%;
	font-size: .7rem;
}
.curated-post article p {
	padding: 3% 0 0 20%;
	font-weight: 500;
	font-size:2rem;
}

.curated-post article ul {
	padding: 6% 0 0 25%;
}

.curated-post article li {
	list-style-type: circle;
	color: red;
	padding: 3% 0;
}

.curated-post article li a {
	color: blue;
	font-size: 1.2rem;
}

.curated-post section {
	padding: 9% 0;
	grid-column: 1/4;
	text-align:center;
	

}

.curated-post section hr {
	color: red;
	width: 14%;
	text-align: center;

	

}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

}

footer nav {
	padding: 0 12%;
}

footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: circle;
	text-align: center;
	margin-top: 30px;
}

footer li {
	margin: 0 3%;
	line-height: 40px;
}

.footer-grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 100px 200px;
}



